.course-data{
    display:flex;
  
   

}
.course-name{
    text-align:justify;
    color:black;
    width:600px;
    margin-left:20px;
    border-right:1px solid lightslategray;
    background-color:lightgrey
}
.cart-container{
    margin-left:20px;
    background-color:lightcyan;
    width:400px;
    height:200px;
    margin-top:20px;
}